NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000

MESSAGING_PROVIDER_BASE_URL=https://dispatcher-production-72fc.up.railway.app
MESSAGING_PROVIDER_API_KEY=
